{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'flask.ico') }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'flask.ico') }}"
          type="image/x-icon">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">主页</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('main.user', username=current_user.username) }}">
                                简介
                            </a>
                        </li>
                    {% endif %}
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <li><a href="{{ url_for('main.moderate') }}">评论管理</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page_content" style="margin-top: 100px">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('zh-cn') }}
    <link href="../static/css.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" color="47,135,193" opacity='0.5' zIndex="-2" count="199"
            src="http://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
    <script src="../static/utils.js"></script>
    <script>
        // 关闭页面时清理图片 利用jinjia2语句，无法移入.js文件
        $('.form').children('#submit').click(
            function () {
                $('#submitted').val('1');
            }
        );

        $(window).on('beforeunload', function () {
            if ($('#submitted').val() === '0') {
                let imgArray = $('#imgArray').val();
                {% if post %}   // 编辑博客时
                    $.post(
                        '/upload/delete',
                        {
                            'post_id': {{ post.id }},
                            'imgArray': imgArray
                        }
                    );
                {% else %}  // 新建博客时
                    if (imgArray != null) {
                        $.post(
                            '/upload/delete',
                            {'imgArray': imgArray},
                        );
                    }
                {% endif %}
            }
        });
    </script>
{% endblock %}

