{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Edit Post{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>博客编辑</h1>
    </div>
    <div>
        {{ wtf.quick_form(form) }}
        <br>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script>
        let imgArray = $('#imgArray');
        {% for img in post.pictures.all() %}
            var imgHTML = "<li style='padding:5px'>" +
                "   <div class='imgDiv'>" +
                "       <img src='" + "{{ url_for('static', filename = 'uploads/{}/{}'.format(img.username, img.filename)) }}" + "' height='150px'/>" +
                "       <span class='delete glyphicon glyphicon-remove-circle' aria-hidden='true'></span>" +
                "   </div>" +
                "</li>";
            $("#ulPic").append(imgHTML);
            imgArray.val(imgArray.val() + " {{ img.filename }}");
        {% endfor %}
    </script>
{% endblock %}